MicrosOXIJaxb/src/main/xsd/reservation.fidelio.5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="reservation.fidelio.5.0" xmlns="reservation.fidelio.5.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:profile="profile.fidelio.5.0" xmlns:udf="udf.fidelio.2.0" xmlns:udfdefinition="udfdefinition.fidelio.2.0" xmlns:relationship="relationship.fidelio.3.0" xmlns:ecertificate="ecertificate.fidelio.1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="profile.fidelio.5.0" schemaLocation="profile.fidelio.5.0.xsd"/>
	<xs:import namespace="udf.fidelio.2.0" schemaLocation="udf.fidelio.2.0.xsd"/>
	<xs:import namespace="udfdefinition.fidelio.2.0" schemaLocation="udfdefinition.fidelio.2.0.xsd"/>
	<xs:import namespace="relationship.fidelio.3.0" schemaLocation="relationship.fidelio.3.0.xsd"/>
	<xs:import namespace="ecertificate.fidelio.1.0" schemaLocation="ecertificate.fidelio.1.0.xsd"/>
	<xs:element name="Reservation" type = "Reservation">
		<xs:annotation>
			<xs:documentation>Reservation schema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Reservation">
		<xs:sequence>
			<xs:element name="HotelReference" type="HotelReference"/>
			<xs:element name="roomStayReservation" type="xs:boolean" minOccurs="0"/>
			<xs:element name="confirmationID" type="xs:string" minOccurs="0"/>
			<xs:element name="reservationID" type="xs:string" minOccurs="0"/>
			<xs:element name="reservationOriginatorCode" type="xs:string" minOccurs="0"/>
			<xs:element name="mfLegNumbers" type="xs:string" minOccurs="0"/>
			<xs:element name="originalBookingDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="cancellationID" type="xs:string" minOccurs="0"/>
			<xs:element name="cancelOriginatorCode" type="xs:string" minOccurs="0"/>
			<xs:element name="cancellationDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="StayDateRange" type="StayDateRange" minOccurs="0"/>
			<xs:element name="GuestCounts" type="GuestCounts" minOccurs="0"/>
			<xs:element name="ResComments" type="ResComments" minOccurs="0"/>
			<xs:element name="ResCreditCards" type="ResCreditCards" minOccurs="0"/>
			<xs:element name="ResGuests" type="ResGuests" minOccurs="0"/>
			<xs:element name="ResProfiles" type="ResProfiles" minOccurs="0"/>
			<xs:element name="RoomStays" type="RoomStays" minOccurs="0"/>
			<xs:element name="SelectedMemberships" type="SelectedMemberships" minOccurs="0"/>
			<xs:element name="AnticipatedSettlements" type="AnticipatedSettlements" minOccurs="0"/>
			<xs:element name="SpecialRequests" type="SpecialRequests" minOccurs="0"/>
			<xs:element name="Services" type="Services" minOccurs="0"/>
			<xs:element name="OriginalRoutingHops" type="OriginalRoutingHops" minOccurs="0"/>
			<xs:element name="resCommentRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="resProfileRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="specialRequestRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="serviceRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="mfcancellationComment" type="xs:string" minOccurs="0"/>
			<xs:element name="mfupdateDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="mfcomplementary" type="xs:boolean" minOccurs="0"/>
			<xs:element name="mfImage" type="mfImage" minOccurs="0"/>
			<xs:element name="mfHurdleRate" type="xs:float" minOccurs="0"/>
			<xs:element name="mfYieldable" type="xs:string" minOccurs="0"/>
			<xs:element name="Udfs" type="Udfs" minOccurs="0"/>
			<xs:element name="mfCancellationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="RateServices" type="RateServices" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfShareAction" type="mfShareAction" use="optional"/>
		<xs:attribute name="mfOtherShareAction" type="xs:string" use="optional"/>
		<xs:attribute name="mfReservationAction" type="mfReservationAction" use="optional"/>
		<xs:attribute name="mfOtherReservationAction" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="mfShareAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="ADD"/>
			<xs:enumeration value="BREAK"/>
			<xs:enumeration value="COMBINE"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mfReservationAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="SPLIT"/>
			<xs:enumeration value="CANCEL"/>
			<xs:enumeration value="REINSTATE"/>
			<xs:enumeration value="CHECKIN"/>
			<xs:enumeration value="SHARE"/>
			<xs:enumeration value="NEWADDRESS"/>
			<xs:enumeration value="ROOMASSIGN"/>
			<xs:enumeration value="TYPEASSIGN"/>
			<xs:enumeration value="WAITLIST"/>
			<xs:enumeration value="WAITLISTTOACTIVE"/>
			<xs:enumeration value="EDIT"/>
			<xs:enumeration value="ADD"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="NOSHOW"/>
			<xs:enumeration value="GROUPCHANGE"/>
			<xs:enumeration value="ROOMMOVE"/>
			<xs:enumeration value="PACKAGE"/>
			<xs:enumeration value="CNXCHECKIN"/>
			<xs:enumeration value="SYNCH"/>
			<xs:enumeration value="CHANGESHARENUM"/>
			<xs:enumeration value="CHECKOUT"/>
			<xs:enumeration value="OTHER"/>
			<xs:enumeration value="ENROLLMENTRQ"/>
			<xs:enumeration value="ENROLLMENT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="HotelReference">
		<xs:sequence>
			<xs:element name="chainCode" type="xs:string" minOccurs="0"/>
			<xs:element name="hotelCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StayDateRange">
		<xs:sequence>
			<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="numberOfTimeUnits" type="xs:int" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="timeUnitType" type="timeUnitType" use="optional" default="DAY"/>
	</xs:complexType>
	<xs:simpleType name="timeUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="HOUR"/>
			<xs:enumeration value="MINUTE"/>
			<xs:enumeration value="SECOND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GuestCounts">
		<xs:sequence>
			<xs:element name="GuestCount" type="GuestCount" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GuestCount">
		<xs:sequence>
			<xs:element name="ageQualifyingCode" type="xs:string" minOccurs="0"/>
			<xs:element name="mfCount" type="xs:int" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ResComments">
		<xs:sequence>
			<xs:element name="ResComment" type="ResComment" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResComment">
		<xs:sequence>
			<xs:element name="resCommentRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="commentOriginatorCode" type="xs:string" minOccurs="0"/>
			<xs:element name="guestViewable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
			<xs:element name="mfcommentType" type="xs:string" minOccurs="0"/>
			<xs:element name="mfcommentDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="resolved" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="resolvedUser" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="reservationActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="CHANGE"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="SYNC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResCreditCards">
		<xs:sequence>
			<xs:element name="ResCreditCard" type="ResCreditCard" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResCreditCard">
		<xs:sequence>
			<xs:element ref="profile:CreditCard" minOccurs="0"/>
			<xs:element name="resCreditCardRPH" type="xs:unsignedInt" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ResGuests">
		<xs:sequence>
			<xs:element name="ResGuest" type="ResGuest" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResGuest">
		<xs:sequence>
			<xs:element name="resGuestRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="profileRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="specialRequestRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="resCommentRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="serviceRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="ageQualifyingCode" type="xs:string" minOccurs="0"/>
			<xs:element name="InHouseTimeSpan" type="InHouseTimeSpan" minOccurs="0"/>
			<xs:element name="ArrivalTransport" type="ArrivalTransport" minOccurs="0"/>
			<xs:element name="DepartureTransport" type="DepartureTransport" minOccurs="0"/>
			<xs:element name="arrivalTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="departureTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="groupEventCode" type="xs:string" minOccurs="0"/>
			<xs:element name="mfCRSShareID" type="xs:float" minOccurs="0"/>
			<xs:element name="mfShareRateCode" type="xs:string" minOccurs="0"/>
			<xs:element name="mfShareRateAmount" type="fixed144" minOccurs="0"/>
			<xs:element name="ShareGuestCounts" type="ShareGuestCounts" minOccurs="0"/>
			<xs:element name="reservationID" type="xs:string" minOccurs="0"/>
			<xs:element name="confirmationID" type="xs:string" minOccurs="0"/>
			<xs:element name="mfConfirmationLegNo" type="xs:int" minOccurs="0"/>
			<xs:element name="ReservationReferences" type="ReservationReferences" minOccurs="0"/>
			<xs:element name="ReservationAwards" type="ReservationAwards" minOccurs="0"/>
			<xs:element name="ReservationChildAges" type="ReservationChildAges" minOccurs="0"/>
			<xs:element name="preRegistered" type="xs:boolean" minOccurs="0"/>
			<xs:element name="reviewed" type="xs:boolean" minOccurs="0"/>
			<xs:element name="commissionPaidTo" type="xs:string" minOccurs="0"/>
			<xs:element name="yieldMarketType" type="xs:string" minOccurs="0"/>
			<xs:element name="nameTaxType" type="xs:string" minOccurs="0"/>
			<xs:element name="PaymentWindows" type="PaymentWindows" minOccurs="0"/>
			<xs:element name="taxExemptNo" type="xs:string" minOccurs="0"/>
			<xs:element name="ReservationCertificates" type="ReservationCertificates" minOccurs="0"/>
			<xs:element name="primarySharer" type="xs:boolean" minOccurs="0"/>
			<xs:element name="ReservationAwardMember" type="ReservationAwardMember" minOccurs="0"/>
			<xs:element name="purposeOfStay" type="xs:string" minOccurs="0"/>
			<xs:element name="DailyProfileLinks" type="DailyProfileLinks" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="reservationStatusType" type="reservationStatusType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="fixed144">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reservationStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="RESERVED"/>
			<xs:enumeration value="REQUESTED"/>
			<xs:enumeration value="REQUESTDENIED"/>
			<xs:enumeration value="NOSHOW"/>
			<xs:enumeration value="CANCELED"/>
			<xs:enumeration value="LEGCANCELED"/>
			<xs:enumeration value="INHOUSE"/>
			<xs:enumeration value="CHECKEDOUT"/>
			<xs:enumeration value="WAITLISTED"/>
			<xs:enumeration value="WAITLISTTOACTIVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InHouseTimeSpan">
		<xs:sequence>
			<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="numberOfTimeUnits" type="xs:int" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="timeUnitType" type="timeUnitType" use="optional" default="DAY"/>
	</xs:complexType>
	<xs:complexType name="ArrivalTransport">
		<xs:sequence>
			<xs:element name="transportID" type="xs:string" minOccurs="0"/>
			<xs:element name="locationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="transportTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="mftransportRequired" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="transportType" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="DepartureTransport">
		<xs:sequence>
			<xs:element name="transportID" type="xs:string" minOccurs="0"/>
			<xs:element name="locationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="transportTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="mftransportRequired" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="transportType" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ShareGuestCounts">
		<xs:sequence>
			<xs:element name="GuestCount" type="GuestCount" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationReferences">
		<xs:sequence>
			<xs:element name="ReservationReference" type="ReservationReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationReference">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute name="referenceNumber" type="xs:string" use="optional"/>
		<xs:attribute name="legNumber" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ReservationAwards">
		<xs:sequence>
			<xs:element name="ReservationAward" type="ReservationAward" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationAward">
		<xs:sequence>
			<xs:element name="TimeSpan" type="TimeSpan" minOccurs="0"/>
			<xs:element name="awardType" type="xs:string" minOccurs="0"/>
			<xs:element name="awardNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="programCode" type="xs:string" minOccurs="0"/>
			<xs:element name="awardStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="dateAwarded" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="consumptionDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="pointsRequired" type="fixed144" minOccurs="0"/>
			<xs:element name="ratePlanCode" type="xs:string" minOccurs="0"/>
			<xs:element name="roomInventoryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="fromRoomLabel" type="xs:string" minOccurs="0"/>
			<xs:element name="toRoomLabel" type="xs:string" minOccurs="0"/>
			<xs:element name="awardCancellationNo" type="fixed144" minOccurs="0"/>
			<xs:element name="awardCancelDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="cancelPolicyType" type="xs:string" minOccurs="0"/>
			<xs:element name="cancelPenaltyPoints" type="xs:int" minOccurs="0"/>
			<xs:element name="cancelPenaltyDays" type="xs:int" minOccurs="0"/>
			<xs:element name="numberOfNights" type="xs:int" minOccurs="0"/>
			<xs:element name="actualCancelPoints" type="xs:int" minOccurs="0"/>
			<xs:element name="cancellable" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeSpan">
		<xs:sequence>
			<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="numberOfTimeUnits" type="xs:int" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="timeUnitType" type="timeUnitType" use="optional" default="DAY"/>
	</xs:complexType>
	<xs:complexType name="ReservationChildAges">
		<xs:sequence>
			<xs:element name="ReservationChildAge" type="ReservationChildAge" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationChildAge">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="childAge" type="xs:int" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PaymentWindows">
		<xs:sequence>
			<xs:element name="PaymentWindow" type="PaymentWindow" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentWindow">
		<xs:sequence>
			<xs:element name="mfPaymentMethod" type="xs:string"/>
			<xs:element name="amountOrPercent" type="fixed144"/>
			<xs:element ref="profile:CreditCard" minOccurs="0"/>
			<xs:element name="verifyResponse" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="folio" type="xs:string" use="optional"/>
		<xs:attribute name="approvalCalculation" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ReservationCertificates">
		<xs:sequence>
			<xs:element ref="ecertificate:ECertificate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationAwardMember">
		<xs:sequence>
			<xs:element name="programCode" type="xs:string" minOccurs="0"/>
			<xs:element name="accountID" type="xs:string" minOccurs="0"/>
			<xs:element name="profileID" type="xs:string" minOccurs="0"/>
			<xs:element name="mfResortProfileID" type="xs:string" minOccurs="0"/>
			<xs:element name="profileRPHs" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DailyProfileLinks">
		<xs:sequence>
			<xs:element name="DailyProfileLink" type="DailyProfileLink" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DailyProfileLink">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="companyRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="travelAgentRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="wholesalerRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="groupRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="billingContactRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="reservationContactRPH" type="xs:unsignedInt" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ResProfiles">
		<xs:sequence>
			<xs:element name="ResProfile" type="ResProfile" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResProfile">
		<xs:sequence>
			<xs:element ref="profile:Profile" minOccurs="0"/>
			<xs:element name="resProfileRPH" type="xs:unsignedInt" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RoomStays">
		<xs:sequence>
			<xs:element name="RoomStay" type="RoomStay" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoomStay">
		<xs:sequence>
			<xs:element name="roomStayRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="roomInventoryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="roomID" type="xs:string" minOccurs="0"/>
			<xs:element name="TimeSpan" type="TimeSpan" minOccurs="0"/>
			<xs:element name="GuestCounts" type="GuestCounts" minOccurs="0"/>
			<xs:element name="RatePlans" type="RatePlans" minOccurs="0"/>
			<xs:element name="anticipatedSettlementRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="inventoryBlockCode" type="xs:string" minOccurs="0"/>
			<xs:element name="marketSegmentCode" type="xs:string" minOccurs="0"/>
			<xs:element name="promotionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="tACommissionPlanCode" type="xs:string" minOccurs="0"/>
			<xs:element name="resGuestRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="selectedMembershipRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="resCommentRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="specialRequestRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="serviceRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="GuaranteeInfo" type="GuaranteeInfo" minOccurs="0"/>
			<xs:element name="CancelPenalties" type="CancelPenalties" minOccurs="0"/>
			<xs:element name="PaymentInstructions" type="PaymentInstructions" minOccurs="0"/>
			<xs:element name="mfcomplementaryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="mfsourceCode" type="xs:string" minOccurs="0"/>
			<xs:element name="mfshareCode" type="xs:string" minOccurs="0"/>
			<xs:element name="mfchannelCode" type="xs:string" minOccurs="0"/>
			<xs:element name="mfdiscountReason" type="xs:string" minOccurs="0"/>
			<xs:element name="mfDiscountAmount" type="fixed144" minOccurs="0"/>
			<xs:element name="mfconfidentialRate" type="xs:boolean" minOccurs="0"/>
			<xs:element name="mfsharedGuestRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="ReservationTraces" type="ReservationTraces" minOccurs="0"/>
			<xs:element name="ReservationAlerts" type="ReservationAlerts" minOccurs="0"/>
			<xs:element name="Discount" type="Discount" minOccurs="0"/>
			<xs:element name="InventoryItems" type="InventoryItems" minOccurs="0"/>
			<xs:element name="RouteToProfiles" type="RouteToProfiles" minOccurs="0"/>
			<xs:element name="RouteToReservations" type="RouteToReservations" minOccurs="0"/>
			<xs:element name="ConnectedReservations" type="ConnectedReservations" minOccurs="0"/>
			<xs:element name="waitlistPriority" type="xs:string" minOccurs="0"/>
			<xs:element name="waitlistReasonCode" type="xs:string" minOccurs="0"/>
			<xs:element name="waitlistReasonDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="waitlistTelephone" type="xs:string" minOccurs="0"/>
			<xs:element name="ReservationFixedCharges" type="ReservationFixedCharges" minOccurs="0"/>
			<xs:element name="mfAsbProrated" type="xs:boolean" minOccurs="0"/>
			<xs:element name="upsold" type="xs:boolean" minOccurs="0"/>
			<xs:element name="upsellOriginalRoomType" type="xs:string" minOccurs="0"/>
			<xs:element name="upsellOriginalTotalAmount" type="fixed144" minOccurs="0"/>
			<xs:element name="upsellRuleCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="mfShareAction" type="mfShareAction" use="optional"/>
		<xs:attribute name="mfReservationAction" type="mfReservationAction" use="optional"/>
		<xs:attribute name="shareRateCalculation" type="shareRateCalculation" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="reservationStatusType" type="reservationStatusType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="shareRateCalculation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="ENTIRE"/>
			<xs:enumeration value="FULL"/>
			<xs:enumeration value="SPLIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RatePlans">
		<xs:sequence>
			<xs:element name="RatePlan" type="RatePlan" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RatePlan">
		<xs:sequence>
			<xs:element name="ratePlanRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="ratePlanCode" type="xs:string" minOccurs="0"/>
			<xs:element name="TimeSpan" type="TimeSpan" minOccurs="0"/>
			<xs:element name="mfMarketCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Rates" type="Rates" minOccurs="0"/>
			<xs:element name="mfsourceCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Rates">
		<xs:sequence>
			<xs:element name="Rate" type="Rate" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rate">
		<xs:sequence>
			<xs:element name="rateRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="Amount" type="Amount" minOccurs="0"/>
			<xs:element name="amountGuaranteed" type="xs:boolean" minOccurs="0"/>
			<xs:element name="rateBasisUnits" type="xs:int" minOccurs="0"/>
			<xs:element name="TimeSpan" type="TimeSpan" minOccurs="0"/>
			<xs:element name="mfAdults" type="xs:int" minOccurs="0"/>
			<xs:element name="mfChildren" type="xs:int" minOccurs="0"/>
			<xs:element name="mfCribs" type="xs:int" minOccurs="0"/>
			<xs:element name="mfExtraBeds" type="xs:int" minOccurs="0"/>
			<xs:element name="mfsourceCode" type="xs:string" minOccurs="0"/>
			<xs:element name="mfMarketCode" type="xs:string" minOccurs="0"/>
			<xs:element name="RateAmounts" type="RateAmounts" minOccurs="0"/>
			<xs:element name="Discount" type="Discount" minOccurs="0"/>
			<xs:element name="rateRoomType" type="xs:string" minOccurs="0"/>
			<xs:element name="mfChildren1" type="xs:int" minOccurs="0"/>
			<xs:element name="mfChildren2" type="xs:int" minOccurs="0"/>
			<xs:element name="mfChildren3" type="xs:int" minOccurs="0"/>
			<xs:element name="mfChildren4" type="xs:int" minOccurs="0"/>
			<xs:element name="mfChildren5" type="xs:int" minOccurs="0"/>
			<xs:element name="ReservationChildAges" type="ReservationChildAges" minOccurs="0"/>
			<xs:element name="upsellCharge" type="fixed144" minOccurs="0"/>
			<xs:element name="inventoryBlockCode" type="xs:string" minOccurs="0"/>
			<xs:element name="eligibilityCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="rateBasisTimeUnitType" type="rateBasisTimeUnitType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="rateBasisTimeUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="HOUR"/>
			<xs:enumeration value="MINUTE"/>
			<xs:enumeration value="SECOND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Amount">
		<xs:sequence>
			<xs:element name="valueNum" type="fixed144" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RateAmounts">
		<xs:sequence>
			<xs:element name="RateAmount" type="RateAmount" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateAmount">
		<xs:sequence>
			<xs:element name="rateAmountCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Amount" type="Amount" minOccurs="0"/>
			<xs:element name="rateBasisUnits" type="xs:int" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Discount">
		<xs:sequence>
			<xs:element name="valueNum" type="fixed144" minOccurs="0"/>
			<xs:element name="mfdiscountReason" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="GuaranteeInfo">
		<xs:sequence>
			<xs:element name="mfGuaranteeType" type="xs:string" minOccurs="0"/>
			<xs:element name="dropTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="resCreditCardRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="resProfileRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="GuaranteeDeposit" type="GuaranteeDeposit" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="guaranteeType" type="guaranteeType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="guaranteeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NOGUARANTEE"/>
			<xs:enumeration value="CCDCVOUCHER"/>
			<xs:enumeration value="PROFILE"/>
			<xs:enumeration value="DEPOSIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GuaranteeDeposit">
		<xs:sequence>
			<xs:element name="dueDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Amount" type="Amount" minOccurs="0"/>
			<xs:element name="cancelIfNotReceived" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelPenalties">
		<xs:sequence>
			<xs:element name="CancelPenalty" type="CancelPenalty" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelPenalty">
		<xs:sequence>
			<xs:element name="cancelByDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Amount" type="Amount" minOccurs="0"/>
			<xs:element name="mfRuleScope" type="xs:string" minOccurs="0"/>
			<xs:element name="mfPercentage" type="fixed144" minOccurs="0"/>
			<xs:element name="mfCancelPercentDue" type="fixed144" minOccurs="0"/>
			<xs:element name="mfCancelRoomNights" type="xs:int" minOccurs="0"/>
			<xs:element name="mfRuleDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="activityDeposit" type="fixed144" minOccurs="0"/>
			<xs:element name="roomDeposit" type="fixed144" minOccurs="0"/>
			<xs:element name="ruleCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ruleId" type="xs:string" minOccurs="0"/>
			<xs:element name="resortRuleId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="mfRuleType" type="mfRuleType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="mfRuleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CANCEL"/>
			<xs:enumeration value="DEPOSIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentInstructions">
		<xs:sequence>
			<xs:element name="PaymentInstruction" type="PaymentInstruction" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstruction">
		<xs:sequence>
			<xs:element name="mfPaymentMethod" type="xs:string"/>
			<xs:element name="resCreditCardRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="PaymentDue" type="PaymentDue" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="paymentMethodType" type="paymentMethodType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="paymentMethodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CREDITCARD"/>
			<xs:enumeration value="DEBITCARD"/>
			<xs:enumeration value="VOUCHER"/>
			<xs:enumeration value="CHECK"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentDue">
		<xs:sequence>
			<xs:element name="dueDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Amount" type="Amount" minOccurs="0"/>
			<xs:element name="cancelIfNotReceived" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationTraces">
		<xs:sequence>
			<xs:element name="ReservationTrace" type="ReservationTrace" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationTrace">
		<xs:sequence>
			<xs:element name="traceDepartment" type="xs:string" minOccurs="0"/>
			<xs:element name="traceDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="traceText" type="xs:string" minOccurs="0"/>
			<xs:element name="resolved" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="resolvedUser" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ReservationAlerts">
		<xs:sequence>
			<xs:element name="ReservationAlert" type="ReservationAlert" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationAlert">
		<xs:sequence>
			<xs:element name="hotelCode" type="xs:string" minOccurs="0"/>
			<xs:element name="alertCode" type="xs:string"/>
			<xs:element name="alertDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="alertArea" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="InventoryItems">
		<xs:sequence>
			<xs:element name="InventoryItem" type="InventoryItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InventoryItem">
		<xs:sequence>
			<xs:element name="item" type="xs:string"/>
			<xs:element name="quantity" type="xs:int" minOccurs="0"/>
			<xs:element name="beginDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="rateCode" type="xs:string" minOccurs="0"/>
			<xs:element name="serviceInventoryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="inventoryBlockCode" type="xs:string" minOccurs="0"/>
			<xs:element name="beginDateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="endDateTime" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RouteToProfiles">
		<xs:sequence>
			<xs:element name="RouteToProfile" type="RouteToProfile" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RouteToProfile">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="profileID" type="xs:string" minOccurs="0"/>
			<xs:element name="mfResortProfileID" type="xs:string" minOccurs="0"/>
			<xs:element name="creditLimit" type="fixed144" minOccurs="0"/>
			<xs:element name="compCovers" type="fixed144" minOccurs="0"/>
			<xs:element name="routingPercent" type="fixed144" minOccurs="0"/>
			<xs:element name="day1" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day2" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day3" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day4" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day5" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day6" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day7" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="xs:string" use="optional"/>
		<xs:attribute name="folio" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RouteToReservations">
		<xs:sequence>
			<xs:element name="RouteToReservation" type="RouteToReservation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RouteToReservation">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="reservationID" type="xs:string" minOccurs="0"/>
			<xs:element name="confirmationID" type="xs:string" minOccurs="0"/>
			<xs:element name="mfConfirmationLegNo" type="xs:int" minOccurs="0"/>
			<xs:element name="creditLimit" type="fixed144" minOccurs="0"/>
			<xs:element name="compCovers" type="fixed144" minOccurs="0"/>
			<xs:element name="routingPercent" type="fixed144" minOccurs="0"/>
			<xs:element name="day1" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day2" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day3" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day4" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day5" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day6" type="xs:boolean" minOccurs="0"/>
			<xs:element name="day7" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ConnectedReservations">
		<xs:sequence>
			<xs:element name="AssociatedReservation" type="AssociatedReservation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssociatedReservation">
		<xs:sequence>
			<xs:element name="reservationID" type="xs:string" minOccurs="0"/>
			<xs:element name="confirmationID" type="xs:string" minOccurs="0"/>
			<xs:element name="mfConfirmationLegNo" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationFixedCharges">
		<xs:sequence>
			<xs:element name="ReservationFixedCharge" type="ReservationFixedCharge" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationFixedCharge">
		<xs:sequence>
			<xs:element name="transactionCode" type="xs:string"/>
			<xs:element name="quantity" type="xs:int" minOccurs="0"/>
			<xs:element name="price" type="fixed144" minOccurs="0"/>
			<xs:element name="frequency" type="xs:string" minOccurs="0"/>
			<xs:element name="beginDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="dayToExecute" type="xs:string" minOccurs="0"/>
			<xs:element name="dateToExecute" type="xs:date" minOccurs="0"/>
			<xs:element name="supplement" type="xs:string" minOccurs="0"/>
			<xs:element name="roomNights" type="xs:int" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SelectedMemberships">
		<xs:sequence>
			<xs:element name="SelectedMembership" type="SelectedMembership" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SelectedMembership">
		<xs:sequence>
			<xs:element name="selectedMembershipRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="programCode" type="xs:string" minOccurs="0"/>
			<xs:element name="bonusCode" type="xs:string" minOccurs="0"/>
			<xs:element name="accountID" type="xs:string" minOccurs="0"/>
			<xs:element name="pointsEarned" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="mfawardDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="mfawardNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="mfprofileIDOnAward" type="xs:string" minOccurs="0"/>
			<xs:element name="mfAmount" type="mfAmount" minOccurs="0"/>
			<xs:element name="mfmembershipCategory" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="mfAmount">
		<xs:sequence>
			<xs:element name="valueNum" type="fixed144" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="AnticipatedSettlements">
		<xs:sequence>
			<xs:element name="AnticipatedSettlement" type="AnticipatedSettlement" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnticipatedSettlement">
		<xs:sequence>
			<xs:element name="anticipatedSettlementRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="applicableRevenueCodes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="masterRoomStayRPH" type="xs:unsignedInt" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="settlementType" type="settlementType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="settlementType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="DIRECTBILL"/>
			<xs:enumeration value="CITYLEDGER"/>
			<xs:enumeration value="BILLTOMASTER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SpecialRequests">
		<xs:sequence>
			<xs:element name="SpecialRequest" type="SpecialRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialRequest">
		<xs:sequence>
			<xs:element name="specialRequestRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="requestCode" type="xs:string"/>
			<xs:element name="requestComments" type="xs:string" minOccurs="0"/>
			<xs:element name="mfResort" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="mfSpecialRequestType" type="mfSpecialRequestType" use="optional" default="FEA"/>
	</xs:complexType>
	<xs:simpleType name="mfSpecialRequestType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SPE"/>
			<xs:enumeration value="FEA"/>
			<xs:enumeration value="INT"/>
			<xs:enumeration value="PRS"/>
			<xs:enumeration value="PRV"/>
			<xs:enumeration value="RES"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Services">
		<xs:sequence>
			<xs:element name="Service" type="Service" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Service">
		<xs:sequence>
			<xs:element name="serviceRPH" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="anticipatedSettlementRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="resCommentRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="selectedMembershipRPHs" type="xs:string" minOccurs="0"/>
			<xs:element name="serviceInventoryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ratePlanCode" type="xs:string" minOccurs="0"/>
			<xs:element name="inventoryBlockCode" type="xs:string" minOccurs="0"/>
			<xs:element name="TimeSpan" type="TimeSpan" minOccurs="0"/>
			<xs:element name="Price" type="Price" minOccurs="0"/>
			<xs:element name="priceGuaranteed" type="xs:boolean" minOccurs="0"/>
			<xs:element name="inclusive" type="xs:boolean" minOccurs="0"/>
			<xs:element name="quantity" type="xs:int" minOccurs="0"/>
			<xs:element name="GuaranteeInfo" type="GuaranteeInfo" minOccurs="0"/>
			<xs:element name="CancelPenalties" type="CancelPenalties" minOccurs="0"/>
			<xs:element name="PaymentInstructions" type="PaymentInstructions" minOccurs="0"/>
			<xs:element name="GuestCounts" type="GuestCounts" minOccurs="0"/>
			<xs:element name="mfserviceComments" type="xs:string" minOccurs="0"/>
			<xs:element name="ReservationAwards" type="ReservationAwards" minOccurs="0"/>
			<xs:element name="ServicePrices" type="ServicePrices" minOccurs="0"/>
			<xs:element name="serviceGroup" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="servicePricingType" type="servicePricingType" use="optional"/>
		<xs:attribute name="reservationStatusType" type="reservationStatusType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="servicePricingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="PERSTAY"/>
			<xs:enumeration value="PERPERSON"/>
			<xs:enumeration value="PERNIGHT"/>
			<xs:enumeration value="PERPERSONPERNIGHT"/>
			<xs:enumeration value="PERUSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Price">
		<xs:sequence>
			<xs:element name="valueNum" type="fixed144" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ServicePrices">
		<xs:sequence>
			<xs:element name="ServicePrice" type="ServicePrice" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServicePrice">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date"/>
			<xs:element name="unitPrice" type="fixed144"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalRoutingHops">
		<xs:sequence>
			<xs:element name="RoutingHop" type="RoutingHop" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutingHop">
		<xs:sequence>
			<xs:element name="systemCode" type="xs:string" minOccurs="0"/>
			<xs:element name="objectID" type="xs:string" minOccurs="0"/>
			<xs:element name="timeStamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="data" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="mfImage">
		<xs:sequence>
			<xs:element name="numRooms" type="xs:int" minOccurs="0"/>
			<xs:element name="Describe" type="Describe" minOccurs="0"/>
			<xs:element name="Change" type="Change" minOccurs="0"/>
			<xs:element name="origContact" type="xs:string" minOccurs="0"/>
			<xs:element name="currencyDecimalPositions" type="xs:int" minOccurs="0"/>
			<xs:element name="legNo" type="xs:int" minOccurs="0"/>
			<xs:element name="commission" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Describe">
		<xs:sequence>
			<xs:element name="resortName" type="xs:string" minOccurs="0"/>
			<xs:element name="insertUser" type="xs:string" minOccurs="0"/>
			<xs:element name="updateUser" type="xs:string" minOccurs="0"/>
			<xs:element name="roomCategory" type="xs:string" minOccurs="0"/>
			<xs:element name="rateCode" type="xs:string" minOccurs="0"/>
			<xs:element name="marketCode" type="xs:string" minOccurs="0"/>
			<xs:element name="guarantee" type="xs:string" minOccurs="0"/>
			<xs:element name="membership" type="xs:string" minOccurs="0"/>
			<xs:element name="membershipLevel" type="xs:string" minOccurs="0"/>
			<xs:element name="company" type="xs:string" minOccurs="0"/>
			<xs:element name="discountReason" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Change">
		<xs:sequence>
			<xs:element name="bSource" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bChannelCode" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bArrivalDate" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bNumNights" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bNumAdults" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bNumChildren" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bNumRooms" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bCribs" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bRollaways" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bRoomCategory" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bRateCode" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bRateAmount" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bCurrencyCode" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bMarketCode" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bPaymentType" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bGuarType" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bDiscountReason" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bMultipleRateYN" type="xs:boolean" minOccurs="0"/>
			<xs:element name="bResvStatus" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Udfs">
		<xs:sequence>
			<xs:element ref="udf:Udf" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateServices">
		<xs:sequence>
			<xs:element name="RateService" type="RateService" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateService">
		<xs:sequence>
			<xs:element name="Service" type="Service"/>
			<xs:element name="quantityExcluded" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
